<%- include('../layout/header') %>
<%- include('../layout/navBar') %>
<% if(actionResponce.status==true )
{
  %>
  <script>  notificationMessage("<%= actionResponce.message %>"); </script>
  <%
} else if(actionResponce.status == false){
  %>
  <script>  errorNotification("<%= actionResponce.message %>") </script>
  <%
}
%>

<div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6 offset-3">
          <div class="form-container">
            <form method="post" action="/verifyEmail">
              
              <div class="form-group mb-4 mt-4">
                <label class="text-black" for="email">Registerd Email Id</label>
                <input type="text" class="form-control" name="emailId" required/>
              </div>
              <button
                type="submit"
                class="btn btn-primary-hover-outline mx-auto mb-4 w-100 mb-5"
              >
               Get OTP
              </button>
              
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <script>