<footer class="footer-section" id="footer-section">
    <div class="container relative">

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Pure QoQo<span>.</span></a></div>
                <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="#why-choose-section">About us</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#we-help-section">Know Us</a></li>
                            <li><a href="/login">login</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Perumbada Building</a></li>
                            <li><a href="#">Kazhakootam, Near Technopark </a></li>
                            <li><a href="#">Trivandrum</a></li>
                            <li><a href="#">Kerala India PIn :685501</a></li>
                        </ul>
                    </div>

                    <div class=" col-sm-6 col-md-4 col-lg-4">
                        <ul class="list-unstyled">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#"><i class='bx bxs-phone'></i> +91 701 236 1213</a></li>
                            <li><a href="#"><i class='bx bx-phone'></i> +91 701 236 1312</li>
                            <li><a href="#"><i class='bx bxs-envelope' ></i> pureqoqo@gmail.com</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>

                    
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.  </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                        <li class="me-4"><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Return policy</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>