<%-include('../layout/header')  %>
<div class="container-fluid text-center  not-found">
    <img src="../../user/assets/web-img/404.png" alt="" class="img-fluid" >
    <a href="/" class="btn page-not-btn"><i class='bx bx-left-arrow-alt'></i> Back To Home</a>
</div>